# Virtual environment
.venv/
venv/
.env/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl


# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

#Logs
logs/
*.log

#Data
data/raw/
data/processed/

# IDE / Editor settings
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# SQLite database (optional — keep if you want DB in repo)
*.sqlite3

docs/

*.docx